[Desktop Entry]
Comment=The HPX Look And Feel
Name=HPX Look
X-KDE-PluginInfo-Author=Sébastien Demanou
X-KDE-PluginInfo-Category=Plasma Look And  Feel
X-KDE-PluginInfo-Email=demsking@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=HPX Look And Feel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=@demsking
